@import "tailwindcss";

@theme {
  --color-primary: #0F6E56;
  --color-primary-dark: #094233;
  --color-primary-light: #E0F5EC;
  --color-primary-border: #A3DECB;
  --color-border-main: #E3E5E9;
  --color-muted: #6A6D77;
  --color-bg: #F2F4F6;
  --color-text: #0D0F12;
}

* {
  font-family: var(--font-custom);
}

:root {
  --font-custom: 'SN Pro', sans-serif;
}